.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.c1{
  content:url("./images/dice1.png");
}
.c2{
  content:url("./images/dice2.png");
}

.c3{
  content:url("./images/dice3.png");
}

.c4{
  content:url("./images/dice4.png");
}

.c5{
  content:url("./images/dice5.png");
}

.c6{
  content:url("./images/dice6.png");
}

